<form name="firebase1" method="POST">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>supreme</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="supreme.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=4"></script>
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css'>
		<script>
					function Exit() {
					var x=confirm('Are You sure want to exit:');
					if(x) window.close();
			}
		  </script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
           <div id="page_clientes_ek10"  >
				<div id="_bg__clientes_ek11"  ></div>
				<div id="rectangle_25_ek16"  ></div>
				<div id="rectangle_35_ek6"  ></div>
				<img src="skins/mask_group_ek9.png" id="mask_group_ek9" />

				<!---	MENU QUE RETORNARÁ AS PÁGINAS		--->
				<div id="novo_pedido_ek12" >
					<a class="button" href="./novo_pedido.html"> NOVO PEDIDO </a>
				</div>
				<div id="clientes_ek8" >
					<a class="button" href="./clientes.html"> CLIENTES </a>
				</div>
				<div id="pedidos_ek8" >
					<a class="button" href="./pedidos.html"> PEDIDOS </a>
				</div>
				<div id="entregas_ek13" >
					<a class="button" href="./entregas.html"> ENTREGAS </a>
				</div>
				<div id="estoques_ek12" >
					<a class="button" href="./estoques.html"> ESTOQUES </a>
				</div>
				<div id="relat_rios_ek10" >
					<a class="button" href="./entrega.html">RELATÓRIOS </a>
				</div>
				<div id="sair_ek8" >
					<a class="button" href="javascript:if(confirm('Deseja mesmo sair?'))window.close()"> SAIR </a>
				</div>

                 <!---		Menu "Cliente"	--->
				<div id="rectangle_17_ek13"  ></div>
				<div id="clientes_ek13" >
					Clientes
				</div>

			<!---		Receber dados dos Clientes no Menu "Cliente", aqui o usuário irá digitar seus dados.	-->
				<div id="rectangle_17_ek14"  ></div>
				
				<div id="rectangle_43"  ></div>
				<div id="nomeconultapedido" >
					<input type="text" placeholder="Nome do Cliente" name="nomeCliente"> </label>
				</div>
			
				<div id="cadastrar" >
					<button class="button-primary" formaction="/consultarCliente"> CONSULTAR </button>
				</div>
               

		

			</div>

			<img src="skins/expand_arrow_ek2.png" id="expand_arrow_ek2" />
			<img src="skins/expand_arrow_ek3.png" id="expand_arrow_ek3" />
			<img src="skins/expand_arrow_ek4.png" id="expand_arrow_ek4" />

		</div>
		<script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
	</body>
</html>
</form>